.env
.gitignore
/vendor
.htaccess
.idea/
/config/database.php
.DS_Store
app/.DS_Store
app/Console/.DS_Store
app/Console/Commands/.DS_Store
app/Http/.DS_Store
app/Http/Controllers/.DS_Store
public/.DS_Store
resources/.DS_Store
resources/assets/.DS_Store
resources/views/.DS_Store
